@page "/privacy-statement"
@rendermode InteractiveServer

<PageTitle>Privacy Statement</PageTitle>
<h1>Privacy Statement</h1>
<p>
    This privacy statement explains how BBTT collects, uses, and protects your personal information when you use our services.
</p>
<p>
    We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner.
</p>
<p>
    By using our services, you agree to the collection and use of information in accordance with this policy.
</p>

<h2>Information Collection</h2>
<p>
    We collect personal information that you provide to us when you register for an account, use our services, or communicate with us. This may include your name, email address, and any other information you choose to provide.
</p>
<h2>Use of Information</h2>
<p>
    We use the information we collect to provide and improve our services, communicate with you, and comply with legal obligations. We may also use your information to send you promotional materials, but you can opt out of these communications at any time.
</p>
<h2>Data Security</h2>
<p>
    We take the security of your personal information seriously and implement appropriate technical and organizational measures to protect it from unauthorized access, loss, or misuse. However, no method of transmission over the internet or electronic storage is 100% secure, so we cannot guarantee its absolute security.
</p>
<h2>Changes to This Privacy Statement</h2>
<p>
    We may update this privacy statement from time to time. We will notify you of any changes by posting the new privacy statement on our website. You are advised to review this privacy statement periodically for any changes.
</p>
<h2>Contact Us</h2>
<p>Email: info@bbtt.mail </p>
<p>
    If you have any questions or concerns about this privacy statement or our privacy practices, please contact us at the email address above.
</p>
